<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %>
<%- include("../partials/message.ejs") %>

<form action="/backend/user/resetUserPassword" method="post">
    <div class="mb-2">
      <label for="emailId">Email Id</label>
      <input 
      type="email" 
      placeholder="Enter Email Id"
      class="form-control"
      id="emailId"
      name="emailId"
      >
    </div>
    <div class="mb-2">
      <label for="fullName">Full Name</label>
      <input 
      type="text" 
      placeholder="Enter User Full Name"
      class="form-control"
      id="fullName"
      name="fullName"
      >
    </div>
    <div class="mb-2">
      <label for="cityName">CityName</label>
      <input 
      type="text" 
      placeholder="Enter CityName"
      class="form-control"
      id="cityName"
      name="cityName"
  
      >
    </div>
    <div class="mb-2">
      <label for="stateName">State Name</label>
      <input 
      type="text" 
      placeholder="Enter stateName"
      class="form-control"
      id="stateName"
      name="stateName"
  
      >
    </div>
    <div class="mb-2">
      <label for="pincode">Pin code</label>
      <input 
      type="number" 
      placeholder="Enter Pincode"
      class="form-control"
      id="pincode"
      name="pincode"
  
      >
    </div>
    <div class="mb-2">
      <label for="newPassword">New Password</label>
      <input 
      type="password" 
      placeholder="Enter New Password"
      class="form-control"
      id="newPassword"
      name="newPassword"
  
      >
    </div>
    <input type="submit" value="Reset User Password">
  
</form>

<%- include("../partials/footer.ejs") %>