<%- include("../baseFiles/header.ejs") %>
<%- include("../baseFiles/messages.ejs") %>


<h1>Password reset page</h1>
<form action="/api/users/resetPassword/" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email Id</label>
    <input type="email" class="form-control" id="email" placeholder="Enter Email Id" name="emailId"  required/>
  </div>
  <div class="mb-3">
    <label for="userName" class="form-label">UserName</label>
    <input type="text" class="form-control" id="userName" placeholder="Enter Unique UserName" name="userName" required/>
  </div>
  <div class="mb-3">
    <label for="fullName" class="form-label">FullName</label>  
    <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name" name="fullName" required/>
  </div>
  <div class="mb-3">
    <label for="newPassword" class="form-label">New Password</label>  
    <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" name="newPassword" required/>
  </div>
  <button type="submit">submit</button>
</form>



<%- include("../baseFiles/footer.ejs") %>
